body{
    background-image: url(../pic/shoppingCart/orange_background);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
button[type=button]:focus{
    outline-width: 0;
  	border: 1px solid #ffffff !important;
}
button[type=button]:active{
    border: 2px solid #ffffff !important;
    outline-width: 0;
    outline: none !important;
    box-shadow: 0 0 2px #ffae1a !important;
    border: 1px solid #ffae1a !important;
}
input[type=text].mySearch:focus{
    border: 1px solid #ffffff !important;
    outline-width: 0;

}
<!-- Nav -->
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color:transparent; 
}

.gnav {
    background-color: #F2F2F2;
  	height: 62px !important;
  	vertical-align: middle;
    opacity:0.8;  
    filter:alpha(opacity=80); //IE 8 or earlier 
}
.nav-left{
  top: -24px;
  background-color: blue;
}
.nav-middle{
	background-color: red;
}
.nav-right{
	background-color: yellow;
}